/gradle
/gradlew.bat
/gradle.properties
/colorlyricsview_lib/gradlew
/colorlyricsview_lib/gradlew.bat
/colorlyricsview_lib/gradle.properties
/colorlyricsview_lib/gradle
/colorlyricsview_lib/build
/colorlyricsview_lib/.idea
/app/src/test
/app/src/androidTest
/app/build
/.idea
/.gradle
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/colorlyricsview_lib/PW
